<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Test Questions</title>
</head>
<body>
<div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
    <a th:href="@{/testQuestions/new}"> New Test Question</a>
</div>
<div th:each="testQuestion:${listTestQuestions}">
<!--    <a th:text ="*{type)}"></a> <br>-->
    Q: <a th:text ="${testQuestion.question}"></a> <br>
    <div th:if= "${testQuestion.questionOption != null}">
        A)<a th:text="*{testQuestion.questionOption.optionA}"></a><br>
        B)<a th:text="*{testQuestion.questionOption.optionB}"></a><br>
        C)<a th:text="*{testQuestion.questionOption.optionC}"></a><br>
        D)<a th:text="*{testQuestion.questionOption.optionD}"></a><br>
    </div>


<!--    Correct: <a th:text ="${testQuestion.correctAnswer}"></a><br>-->
<!--    Subject: <a th:text ="${testQuestion.learningObjective.subject.name}"></a>-->

    <br>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/testQuestions/edit/{id}(id = ${testQuestion.id})}">Edit</a>
        <a th:href="@{/testQuestions/delete/{id}(id = ${testQuestion.id})}">Delete</a>
    </div>

    <br><br>
</div>

</body>
</html>