<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>Tests</h1>
<div sec:authorize="hasAnyAuthority('ADMIN')">
  <a th:href="@{/tests/new}"> New Test</a><br>
</div>
<div th:each="test:${listTests}">
  <a th:href="@{/tests/{id}(id = ${test.id})}" th:text ="${test.name}"></a><br>
  <a th:href="@{/tests/takeExam/{id}(id = ${test.id})}">Take Exam</a>
  <a th:href="@{/tests/{id}/studentsAttempts(id = ${test.id})}">Students Attempts</a><br>
  <a th:text ="${test.subject.name}"></a><br>
  <div sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{/tests/edit/{id}(id = ${test.id})}">Edit</a>
  </div>
  <div sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{/tests/delete/{id}(id = ${test.id})}">Delete</a>
  </div>
  <br><br>
</div>
</body>
</html>
