<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" th:rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/announcements/saveAnnouncement}" th:object = "${announcement}" method="post" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-6">
        <label for="inputTitle" class="form-label">Title</label>
        <input name="title"  type="text" class="form-control" id="inputTitle">
    </div>
    <div class="col-12">
        <label for="inputText" class="form-label">Text</label>
        <input name="text" type="text" class="form-control" id="inputText" placeholder="text here">
    </div>
    <div class="col-12">
        <label for="inputFile" class="form-label">File</label>
        <input type="file" name="content" class="form-control" id="inputFile" required/><br>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>