<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Announcement</title>
</head>
<body>
<h1>Update Announcement</h1>
<form action="#" th:action="@{/announcements/updateAnnouncement}" th:object="${announcement}" method="POST">
    <input type="hidden" th:field="*{id}" value="*{id}">
    <input type="text" th:field="*{title}" placeholder="Title"/> <br>
    <textarea th:field="*{text}"></textarea> <br>
    <button type="submit">Update Announcement</button>
</form>
</body>
</html>